<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
        <td>13:00</td>
        <td>Automating Tasks with the Unix Shell <br />
          <a href="{{ site.baseurl }}/lessons/shell/shell.html">slides</a> :
          <a href="{{ site.baseurl }}/lessons/shell/middle.sh">middle.sh</a> :
          <a href="{{ site.baseurl }}/lessons/shell/sorted.sh">sorted.sh</a> <br />
          <a href="https://swcarpentry.github.io/shell-novice/">Software Carpentry Lesson</a>
        </td>
      </tr>
      <tr>
        <td>14:30</td>
        <td>Afternoon break</td>
      </tr>
      <tr>
        <td>14:50</td>
        <td>Automating Tasks with the Unix Shell (Continued) <br />
          <a href="{{ site.baseurl }}/lessons/shell/shell.html">slides</a> :
          <a href="{{ site.baseurl }}/lessons/shell/middle.sh">middle.sh</a> :
          <a href="{{ site.baseurl }}/lessons/shell/sorted.sh">sorted.sh</a> <br />
          <a href="https://swcarpentry.github.io/shell-novice/">Software Carpentry Lesson</a>
        </td>
      </tr>
      <tr>
        <td>16:30</td>
        <td>END</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>
        <td>10:00</td>
        <td>Version Control with Git <br />
          <a href="{{ site.baseurl }}/lessons/git/slides_git.html">slides</a> <br />
          <a href="https://swcarpentry.github.io/git-novice/">Software Carpentry Lesson</a>
        </td>
      </tr>
      <tr>
        <td>11:15</td>
        <td>Morning break</td>
      </tr>
      <tr>
        <td>11:35</td>
        <td>Version Control with Git (Continued) <br />
          <a href="{{ site.baseurl }}/lessons/git/slides_git.html">slides</a> <br />
          <a href="https://swcarpentry.github.io/git-novice/">Software Carpentry Lesson</a>
        </td>
      </tr>
      <tr>
        <td>12:50</td>
        <td>Lunch break</td>
      </tr>
      <tr>
        <td>14:00</td>
        <td>R for Reproducible Scientific Analysis <br />
          <a href="{{ site.baseurl }}/lessons/r/r-lesson.html">slides</a> :
          <a href="{{ site.baseurl }}/lessons/r/feline_data.csv">feline_data.csv</a> :
          <a href="{{ site.baseurl }}/lessons/r/data_structures.R">data_structures.R</a> :
          <a href="{{ site.baseurl }}/lessons/r/inflammation.R">inflammation.R</a> :
          <a href="{{ site.baseurl }}/lessons/r/gapminder.R">gapminder.R</a> :
          <a href="{{ site.baseurl }}/lessons/r/notebook.Rmd">notebook.Rmd</a> :
          <a href="{{ site.baseurl }}/lessons/r/notebook.html">notebook.html</a> <br />
          <a href="https://swcarpentry.github.io/r-novice-gapminder/">Software Carpentry Lesson</a>
        </td>
      </tr>
      <tr>
        <td>15:15</td>
        <td>Afternoon break</td>
      </tr>
      <tr>
        <td>15:35</td>
        <td>R for Reproducible Scientific Analysis (Continued) <br />
          <a href="{{ site.baseurl }}/lessons/r/r-lesson.html">slides</a> :
          <a href="{{ site.baseurl }}/lessons/r/feline_data.csv">feline_data.csv</a> :
          <a href="{{ site.baseurl }}/lessons/r/data_structures.R">data_structures.R</a> :
          <a href="{{ site.baseurl }}/lessons/r/inflammation.R">inflammation.R</a> :
          <a href="{{ site.baseurl }}/lessons/r/gapminder.R">gapminder.R</a> :
          <a href="{{ site.baseurl }}/lessons/r/notebook.Rmd">notebook.Rmd</a> :
          <a href="{{ site.baseurl }}/lessons/r/notebook.html">notebook.html</a> <br />
          <a href="https://swcarpentry.github.io/r-novice-gapminder/">Software Carpentry Lesson</a>
        </td>
      </tr>
      <tr>
        <td>16:50</td>
        <td>END</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr>
        <td>10:00</td>
        <td>R for Reproducible Scientific Analysis <br />
          <a href="{{ site.baseurl }}/lessons/r/r-lesson.html">slides</a> :
          <a href="{{ site.baseurl }}/lessons/r/feline_data.csv">feline_data.csv</a> :
          <a href="{{ site.baseurl }}/lessons/r/data_structures.R">data_structures.R</a> :
          <a href="{{ site.baseurl }}/lessons/r/inflammation.R">inflammation.R</a> :
          <a href="{{ site.baseurl }}/lessons/r/gapminder.R">gapminder.R</a> :
          <a href="{{ site.baseurl }}/lessons/r/notebook.Rmd">notebook.Rmd</a> :
          <a href="{{ site.baseurl }}/lessons/r/notebook.html">notebook.html</a> <br />
          <a href="https://swcarpentry.github.io/r-novice-gapminder/">Software Carpentry Lesson</a>
        </td>
      </tr>
      <tr>
        <td>11:15</td>
        <td>Morning break</td>
      </tr>
      <tr>
        <td>11:35</td>
        <td>R for Reproducible Scientific Analysis (Continued) <br />
          <a href="{{ site.baseurl }}/lessons/r/r-lesson.html">slides</a> :
          <a href="{{ site.baseurl }}/lessons/r/feline_data.csv">feline_data.csv</a> :
          <a href="{{ site.baseurl }}/lessons/r/data_structures.R">data_structures.R</a> :
          <a href="{{ site.baseurl }}/lessons/r/inflammation.R">inflammation.R</a> :
          <a href="{{ site.baseurl }}/lessons/r/gapminder.R">gapminder.R</a> :
          <a href="{{ site.baseurl }}/lessons/r/notebook.Rmd">notebook.Rmd</a> :
          <a href="{{ site.baseurl }}/lessons/r/notebook.html">notebook.html</a> <br />
          <a href="https://swcarpentry.github.io/r-novice-gapminder/">Software Carpentry Lesson</a>
        </td>
      </tr>
      <tr>
        <td>12:50</td>
        <td>END</td>
      </tr>
    </table>
  </div>
</div>